<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<body>
<div layout:fragment="content" class="container mx-auto my-4">
    <h1 class="text-xl">Release notes viewer</h1>
    <div class="flex">
        <div class="w-1/3 m-2">
            <div>
                <!-- tag::tree[] -->
                <sl-tree id="repositories-tree"
                         selection="leaf">
                    <sl-tree-item lazy
                                  hx-trigger="sl-lazy-load"
                                  hx:get="@{/repositories}"
                                  hx-swap="innerHTML"> <!--.-->
                        GitHub Repositories
                    </sl-tree-item>
                </sl-tree>
                <!-- end::tree[] -->
            </div>
        </div>
        <!-- tag::release-notes-container[] -->
        <div class="w-2/3 m-2">
            <div id="release-notes-container" class="p-4 bg-amber-50 prose prose-h2:mt-1">
                <div>Select a version on the left to view the release notes.</div>
            </div>
            <div id="release-notes-loading-indicator"
                 class="my-2">
                <svg class="htmx-indicator animate-spin ml-3 mb-3 h-5 w-5 text-black" xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor"
                          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
            </div>
            <!-- end::release-notes-container[] -->
        </div>
    </div>
</div>
<th:block layout:fragment="script-content">
    <!-- Add additional scripts there that are only needed for this page (Application wide scripts should be added in layout/main.html) --->
</th:block>
</body>
</html>
